* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:visited, a::after, a::before {
    text-decoration: none;
}

select {
    border: none;
    font-size: 14px;
}

#clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#clock-face {
    font-size: 48px;
}